/* Layout, Textformatierung (Aufgabe a,b)*/
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  background-color: rgb(245, 245, 245);

  max-width: 900px;
  padding: 20px;
}

.inOut {
  text-align: center;
  margin: auto;
}

img {
  border-radius: 50%;
  width: 20%;
}

.login_register {
  max-width: 900px;
}

.rmFriend {
  color: red;
}

.nav {
  color: blue;
}

#profilpic {
  border-radius: 0%;
  height: fit-content;
  width: 40vw;
}

button {
  background-color: gray;
  color: white;
  height: 30px;
  width: 130px;
  margin-inline: 10px;
}

.profile-content {
  display: flex;
  margin-top: 10px;
}

.profile-infos {
  background-color: white;
  margin-left: 30px;
}

dt {
  font-weight: bold;
}

#messages {
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid lightgray;
}

.inline-input-button {
  display: flex;
}

.friend-message-input {
  flex: 1 1 auto;
  height: 30px;
  margin-left: 10px;
  margin-right: 20px;
  border: 1px solid gray;
}

#friendlist li {
  list-style: none;
  margin-left: 0px;
  margin-top: 10px;
}

#friendlist {
  background-color: white;
  border-radius: 6px;
  border: 1px solid lightgray;
  padding-bottom: 10px;
}

#friendlist a {
  color: black;
}

#friendlist li {
  display: flex;
  justify-content: space-between;
}

#friendlist span {
  margin-right: 30px;
  background-color: blue;
  color: white;
  width: 20px;
  text-align: center;
}

.enterButton {
  background-color: blue;
}

hr {
  border: none;
  border-top: 1px dotted lightgray;
}

/* Links, Fromulare (Aufgabe c,d)*/
a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}
.frame {
  border: 1px dashed lightgray;
  margin: 0 auto 15px auto;
  padding: 20px;
  width: 70%;
  margin: center;
  text-align: center;
  background-color: white;
}

label {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  width: 200px;
}

.inOut input,
.inOut select {
  width: 200px;
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
}

.frame textarea {
  width: 100%;
  height: 10vh;
}
.frame.radioButtons {
  text-align: left;
}

.frame.radioButtons input {
  margin-left: 10px;
  width: fit-content;
}

.frame.radioButtons label {
  text-align: left;

  width: fit-content;
}

/* Responsive (Aufgabe e)*/
@media screen and (max-width: 900px) {
  .frame {
    box-sizing: border-box;
    width: 100%;
  }

  .mediaBreak {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .mediaBreak.inline-input-button {
    align-items: stretch;
  }

  .mediaBreak button {
    margin-top: 10px;
    align-self: center;
  }

  #profilpic {
    width: fit-content;
    height: 40vh;
  }
}
